@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting,word(from the view)
    </p>
        上边验证： @Html.ActionLink("RSVP Now","RsvpForm");
        行内验证：@Html.ActionLink("RSVP Now","RsvpForm1");
            
    </div>
</body>
</html>
