@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting,word(from the view)
    </p>
        @Html.ActionLink("RSVP Now")
            
    </div>
</body>
</html>
