@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Thanks</title>
</head>
    <body>
        @{
            try
            {
                WebMail.SmtpServer = "stmp.examp;e.com";
                WebMail.SmtpPort =587;
                WebMail.EnableSsl = true;
                WebMail.UserName = "mysmtpUserName";
                WebMail.Password = "";
                WebMail.From = "rsvps@example.com";
                
            }
            catch (Exception)
            {
  
                throw;
            }
        }
        <div>
            <h1>ThankYou,@Model.Name</h1>
            @if (Model.WillAttend == true)
            {
                @:It's great that you're comming!
            }
            else
            {
                @:Sorry.
            }
        </div>
    </body>
</html>
