@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RsvpForm</title>
</head>
<body>
   @using (Html.BeginForm())
   {
       <p>Your name:@Html.TextBoxFor(x=>x.Name)</p>
       <p>Your email:@Html.TextBoxFor(x=>x.Email)</p>
       <p>Your phone:@Html.TextBoxFor(x=>x.Name)</p>
       <p>Your name:@Html.TextBoxFor(x=>x.Name)</p>
       
   }
</body>
</html>
